.lato-thin {
	font-family: "Lato", sans-serif;
	font-weight: 100;
	font-style: normal;
}

.lato-light {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.lato-regular {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.lato-medium {
	font-family: "Lato", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.lato-bold {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.lato-bolder {
	font-family: "Lato", sans-serif;
	font-weight: 800;
	font-style: normal;
}

.lato-black {
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.lato-thin-italic {
	font-family: "Lato", sans-serif;
	font-weight: 100;
	font-style: italic;
}

.lato-light-italic {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-style: italic;
}

.lato-regular-italic {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: italic;
}

.lato-bold-italic {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-style: italic;
}

.lato-black-italic {
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-style: italic;
}

/* Font Sizes */
.text-xs {
	font-size: 0.75rem;
} /* 12px */
.text-sm {
	font-size: 0.875rem;
} /* 14px */
.text-base {
	font-size: 1rem;
} /* 16px (default) */
.text-lg {
	font-size: 1.125rem;
} /* 18px */
.text-xl {
	font-size: 1.25rem;
} /* 20px */
.text-2xl {
	font-size: 1.5rem;
} /* 24px */
.text-3xl {
	font-size: 1.875rem;
} /* 30px */
.text-4xl {
	font-size: 2.25rem;
} /* 36px */
.text-5xl {
	font-size: 3rem;
} /* 48px */
.text-6xl {
	font-size: 3.75rem;
} /* 60px */
.text-7xl {
	font-size: 4.5rem;
} /* 72px */
.text-8xl {
	font-size: 6rem;
} /* 96px */
.text-9xl {
	font-size: 8rem;
} /* 128px */
