.hero-section {
	width: 1120px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 11.25rem 0;
}

.hero-title {
	font-size: 4rem;
	line-height: 1.2;
}

.hero-text {
	font-size: 1.25rem;
	color: var(--text-color);
	padding: 0 1rem;
}

.hero-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 2rem;
	gap: 2rem;
}

.hero-get-start-btn {
	border-radius: 55px;
	font-weight: bold;
	transition: 0.3s;
	height: 3.75rem;
	width: 8.813rem;
	box-shadow: 0px 23px 47px 0px #043a533d;
}

.hero-video-btn {
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;
	transition: 0.3s;
	height: 3.75rem;
}

.hero-btn-play-icon {
	height: 2.19rem;
	width: 2.19rem;
	background-color: var(--primary-color);
	border-radius: 50%;
}

.hero-btn-play-icon img {
	margin-left: 3px;
}

.hero-images {
	height: 340px;
	width: auto;
	object-fit: cover;
}

/* Responsive styles */
@media only screen and (max-width: 425px) {
	.hero-section {
		flex-direction: column;
		text-align: left;
		padding: 4rem 0;
	}
	.hero-buttons {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 2rem;
		gap: 2rem;
	}
	.hero-title {
		font-size: 2rem;
		line-height: 1.2;
		font-weight: 700;
	}
	.hero-text {
		font-size: 14px;
		color: var(--text-color);
		padding: 0;
		margin-top: 1rem;
		font-weight: 500;
	}
	.hero-images-container {
		display: inline-flex;
		margin-top: 60px;
	}
	.hero-images {
		height: auto;
		width: 50%;
		object-fit: contain;
	}
	.hero-image-mobile-right {
		height: auto;
		width: 50%;
		object-fit: contain;
		margin-top: 33px;
		margin-bottom: -33px;
	}
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
	.hero-section {
		flex-direction: column;
		text-align: left;
		padding: 6rem 0;
	}
	.hero-title {
		font-size: 3rem;
		line-height: 1.2;
	}
	.hero-text {
		font-size: 1.25rem;
		color: var(--text-color);
		padding: 0 1rem;
		margin-top: 0.5rem;
	}
	.hero-buttons {
		flex-direction: row;
	}
	.hero-images-container {
		display: inline-flex;
		gap: 3rem;
		margin-top: 60px;
	}
	.hero-images {
		margin-top: 0;
	}
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.hero-section {
		padding: 8rem 0;
	}
	.hero-title {
		font-size: 3rem;
		line-height: 1.2;
	}
	.hero-text {
		font-size: 1rem;
		color: var(--text-color);
		padding: 0 1rem;
	}
}
