.trusted-brand-container {
	padding: 3.13rem 0;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 4rem;
}

.trusted-brand-images {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 4rem;
}

.trusted-brand-text {
	font-size: 1rem;
	color: #000;
}

/* Responsive styles */
@media only screen and (max-width: 425px) {
	.trusted-brand-container {
		gap: 1.25rem;
	}
	.trusted-brand-images {
		gap: 1.25rem;
	}
	.trusted-brand-images img {
		max-height: 1.4rem;
	}
	.trusted-brand-text {
		font-size: 0.75rem;
	}
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
	.trusted-brand-container {
		gap: 1.5rem;
	}
	.trusted-brand-images {
		gap: 2rem;
	}
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.trusted-brand-container {
		gap: 1.5rem;
	}
	.trusted-brand-images {
		gap: 4rem;
	}
}
